<h2>Add a comment to post #<%= @entry.id %></h2>

<%= form_for @comment, url: blog_entry_comment_path(@comment), action: :post do |f| %>
	Name: <%= f.text_field :author %>
	<%= f.text_area :content %>
	<%= f.submit %>
<% end %>