<h2>Welcome to My Blog!</h2>

<% @entries.each do |entry| %>

	<div class='entry'>

		<h3 class='title'>
			<%= link_to entry.title, blog_entry_path(entry) %>
		</h3>

		<div class='body'>
			<%= entry.body %>
		</div>

		<div class='actions'>
			<%= link_to "Edit", edit_blog_entry_path(entry) %>
			<%= link_to "Delete", blog_entry_path(entry), :confirm => "Are you sure?", method: :delete %>
		</div>

	</div>
<% end %>

<%= link_to "Add an entry", new_blog_entry_path %>