<h2> <%= @entry.title %> </h2>

<div> <%= @entry.body %> </div>

<div class='actions'>
	<%= link_to "Edit", edit_blog_entry_path(@entry) %>
	<%= button_to "Delete", blog_entry_path(@entry), confirm: "Are you sure?", method: :destroy %>
</div>

<hr />

<% @entry.comments.any? do %>
	<div>
		What others have to say about this post
	</div>

	<% @entry.comments.each do |comment| %>
		<div class="comment">
			<p class="author"> <%= comment.author %> says: </p>
			<p class="content"> <%= comment.content %> </p>
			<%= button_to "Delete", [@entry, comment], confirm: "Are you sure?", method: :delete %>
		</div>
	<% end %>

<% end %>

<%= form_for [@entry, Comment.new] do |form| %>
	<%= form.label :author, "Name: " %> <br />
	<%= form.text_field :author %> <br />
	<%= form.text_area :content %> <br />
	<%= form.submit %>
<% end %>
