.form.col-md-12
  - if @post.errors.any?
    %ul.errors
    - @post.errors.full_messages.each do |message|
      .bg-danger.error= message

  = form_for @post do |f|

    .form-group
      = f.label :title, class: 'col-md-2'
      = f.text_field :title, class: 'col-md-10', placeholder: 'Title'

    .form-group
      = f.label :body, class: 'col-md-2'
      = f.text_area :body, class: 'col-md-10', rows: '5', placeholder: 'Content'

    .form-group
      %div.col-md-12.margin-top-20.no-right-padding
        = f.submit class: 'pull-right btn btn-primary'